# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/.gradle/
/android/app/build/
/build/
/*.apk
*.so

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/

# VS Code
.vscode/
.idea/

# Mac/Windows
.DS_Store
Thumbs.db

# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea

# Android NDK / C++ build
android/app/.cxx/

